.color-tile-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 1rem 0;
  }

  .color-tile {
    display: block;
    height: 140px;

    &--border {
      border: 1px dashed #ccc;
    }
  }

  .color-tile-desc {
    margin: 0.5rem 0;
  }

  .color-tile-desc dt {
    display: inline;
    font-weight: bold;
  }

  .color-tile-desc dd {
    display: inline;
    margin: 0;
  }