  
[Unit]
Description=Phosphor Multi GPIO monitor

[Service]
ExecStart=/usr/bin/phosphor-multi-gpio-monitor --config /usr/share/phosphor-gpio-monitor/crashdump-trigger.json

[Install]
WantedBy=multi-user.target
