[Unit]
Description=Service to get PCIe info over PECI

[Service]
Restart=always
ExecStart=/usr/bin/peci-pcie
Type=simple
Nice=19

[Install]
WantedBy=multi-user.target
