[Unit]
Description=System unit to hard reset or system reset chassis

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=echo Please add custom command for system reset chassis

[Install]
WantedBy=chassis-system-reset.target
