html, body {
  height: 100%;
  @include fontFamily;
  font-size: 16px;
  font-weight: 400;
  color: $primary-dark;
}

p {
  margin-bottom: .8em;
  transition: margin .05s;
}

a,
button.link {
  color: $primary-action;
  text-decoration: none;
  font-weight: 700;
  &:visited {
    color: lighten($primary-action, 5%);
  }
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  :focus {
    color: $primary-action;
  }
}

button.link {
  padding-left: .3em;
  padding-right: .3em;
}