// Typography

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
  line-height: 1.5rem;
}

// Headers
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25;
  color: $text-01;
}

h1,
.h1 {
  font-size: 2.25rem;
  font-weight: 500;
  padding-top: 0.5rem;
  margin-bottom: 3rem;
}

h2,
.h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

h3,
.h3 {
  font-size: 1rem;
  font-weight: bold;
}

h4,
.h4 {
  font-size: 0.875rem;
  font-weight: bold;
}

h5,
.h5 {
  font-size: 0.875rem;
  font-weight: 500;
  color: $text-02;
}

// Fonts
.courier-normal {
  font-family: "Courier New", Helvetica, arial, sans-serif;
}
.courier-bold {
  font-family: "Courier New", Helvetica, arial, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

.page-title {
  margin-bottom: 50px;
  font-size: 2rem;
}
