// Sass Color Variables
$black: #000;
$white: #fff;

$blue-100: #eff2fb;
$blue-500: #2d60e5;

$green-100: #ecfdf1;
$green-500: #0a7d06;

$red-100: #feeeed;
$red-500: #da1416;

$yellow-100: #fff8e4;
$yellow-500: #efc100;

$gray-100: #f4f4f4;
$gray-200: #e6e6e6;
$gray-300: #d8d8d8;
$gray-400: #cccccc;
$gray-500: #b3b3b3;
$gray-600: #999999;
$gray-700: #666666;
$gray-800: #3f3f3f;
$gray-900: #161616;

// Sass Base Color Variables
$blue: $blue-500;
$green: $green-500;
$red: $red-500;
$yellow: $yellow-500;

// Bootstrap will generate CSS variables for
// all of the colors in this map.
// https://getbootstrap.com/docs/4.0/getting-started/theming/#css-variables
$colors: (
  "blue": $blue,
  "green": $green,
  "red": $red,
  "yellow": $yellow,
);

// Sass Theme Color Variables
// Can be used as variants
$danger: $red;
$dark: $gray-900;
$info: $blue;
$light: $gray-100;
$primary: $blue;
$secondary: $gray-800;
$success: $green;
$warning: $yellow;

// Sass Color Variable Accents
// Used for component styles and are
// not available as variants
$danger-light: $red-100;
$info-light: $blue-100;
$warning-light: $yellow-100;
$success-light: $green-100;

// Bootstrap will generate CSS variables for
// all of the colors in this map.
// https://getbootstrap.com/docs/4.0/getting-started/theming/#css-variables
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "danger": $danger,
  "info": $info,
  "success": $success,
  "warning": $warning
);
