[Unit]
Description= smtp-client service

[Service]
ExecStart=/usr/bin/mail-alert-manager
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target

