.overview__event-log {
  .event__description {
    color: $primary-dark;
    text-decoration: none;
  }

  .control-check {
    display: none;
  }
  .accord-trigger {
    transform: rotate(0deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
  }

  .event-log__event-info {
    padding-left: 1.4em;
  }
}

input.modal__edit-server-name {
  margin-bottom: 0;
}

.modal__char-count,
.modal__error {
  font-size: 0.8em;
  color: $text-02;
}

.modal__error {
  color: $status-error;
}
