Makefile
Makefile.in
aclocal.m4
ar-lib
arm-openbmc-linux-gnueabi-libtool
autom4te.cache*
compile
config.*
depcomp
install-sh
ltmain.sh
missing
.deps*
configure
stamp-h1
*.o
.libs*
*.lo
*.la
.dirstamp
.project
netipmid
test-driver
.*.sw*
.cscope/
*.orig
*.rej
*~
