*.o
*.lo
*.la
*.sw*
phosphor-inventory
generated.cpp
gen_serialization.hpp
test/gen_serialization.hpp
xyz.openbmc_project.Example.*.cpp
xyz/openbmc_project/Example/
Makefile
Makefile.in
configure
.deps
.libs
aclocal.m4
ar-lib
arm-openbmc-linux-gnueabi-libtool
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h1
Makefile.extra
extra_ifaces.cpp
test-driver
*.log
*.trs
*-libtool
associations-test
interface-ops-test
manager-test
serialize-test
types-test
utils-test
