.card-component {
  max-width: 600px;
  min-width: 300px;
  display: block;
}

.card__header {
  background-color: $background-02;
  padding: 1rem 1.5rem;
  * {
    margin: 0;
  }
}

.card__header--success {
  background-color: $notification-success--light;
}

.card__header--error {
  background-color: $accent-04--02;
}

.card__body {
  padding: 1rem 1.5rem;
  border: 1px solid $border-color-01;
  border-width: 0 1px 1px;
}