.net-config__form {
  .dropdown__button {
    margin-bottom: 1.2em;
  }
  .dropdown__list {
    margin-top: -17px;
  }
  .dropdown__button {
    width: 200px;
    margin-top: 0;
    text-align: left;
  }
  input {
    margin-bottom: 2em;
  }

  .net-config__fieldset {
    legend {
      padding-bottom: 0.5rem;
    }

    .net-config__fieldset-content {
      padding-left: 1.8em;
    }
  }

  .net-config__static-ip-wrap {
    width: 100%;
    padding-left: 0;
    padding-top: 1em;
    display: block;
    label {
      min-width: 250px;
    }
  }
  .control-radio {
    margin-top: 1em;
    margin-left: .7em;
    font-weight: 700;
  }
  .network-config__submit-wrapper {
    padding-top: 1em;
    border-top: 1px solid $border-color-01;
    margin-top: 2em;

    .btn:not(:last-child) {
      margin-right: 1em;
    }

    &::after {
      content: " ";
      display: block;
      clear: both;
    }

  }
  .network-config__ipv4-wrap {
    padding-bottom: 1.8em;
  }
}
