#configuration-snmp {
  .page-title {
    margin-bottom: 1rem;
  }
  .trash_button {
    margin-top: 2rem;
  }
  .snmp-field {
    padding-right: 1.5rem;
  }
  .btn-add-manager {
    padding-left: 0;
  }
}
