#configuration-alertpolicy{
    .alertsavebtn{
      margin-bottom: 20px;
      float: right;
    }

    .eventfiltersavebtn{
      margin-top: 20px;
      float: right;
    }

    .pad20{
      padding: 20px;
    }
}
