.alert-banner {
  padding: 1rem 1rem 0.75rem;
  border-left-width: 3px;
  border-left-style: solid;
  display: flex;
  .status-icon {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1.2rem;
  }
}

.alert-banner--error {
  background-color: $notification-error--light;
  border-left-color: $notification-error--dark;
}
.alert-banner--success {
  background-color: $notification-success--light;
  border-left-color: $notification-success--dark;
}
.alert-banner--warn {
  background-color: $notification-warn--light;
  border-left-color: $notification-warn--dark;
}
.alert-banner--info {
  background-color: $notification-info--light;
  border-left-color: $notification-info--dark;
}