body {
    font-family: sans-serif;
    font-size: 12pt;
}

.method, .property {
    font-family: monospace;
}

.method-arg-type {
    color: #080;
}

.property-value {
    color: #800;
}

#method-call-ui {
    margin-left: 3em;
    padding: 0.1em 0.3em;
    background: #ffd;
    border: thin dashed #ccc;
}

#method-call-ui th, #method-call-ul td { 
    font-family: monospace;
}

#method-call-ui th {
    text-align: right;
    font-weight: normal;
}

input {
    border: thin solid #ccc;
}


