[Unit]
Description=Start Host%i Minimum
After=multi-user.target
Conflicts=obmc-host-stop@%i.target
RefuseManualStop=yes
OnFailure=obmc-host-quiesce@%i.target
OnFailureJobMode=flush
