[Unit]
Description=Power%i Off (Pre)
After=multi-user.target
Wants=obmc-host-stopped@%i.target
After=obmc-host-stopped@%i.target
Conflicts=obmc-chassis-poweron@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
