[Unit]
Description=Host%i (Started)
After=multi-user.target
After=obmc-host-starting@%i.target
Conflicts=obmc-host-stop@%i.target
RefuseManualStart=yes
RefuseManualStop=yes
