[Unit]
# This target is activated when the host is
# collecting debug data which can be used to
# debug a user or self detected error in the host
Description=Diagnostic Mode Collection for Host%i
After=multi-user.target
Conflicts=obmc-host-startmin@%i.target
RefuseManualStop=yes
