[Unit]
Description= pef and alert manager service

[Service]
ExecStart=/usr/bin/pef-configuration
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target

