/**
 * Application header styles
 * Should only be used for the application header
 */

$logoHeight: 30px;
$logoMaxHeight: 100px;
$logoMaxWidth: 125px;

@mixin round-corners {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px 6px;
  border-radius: 6px 6px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

.header__info-section {
  position: relative;
  background: $primary-dark;
  color: $primary-light;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  .dropdown-menu {
    left: unset;
    right: 0;
    border-radius: 0;
    font-size: 0.9rem;
    .btn {
      color: $primary-dark;
    }
  }
  .dropdown-toggle {
    color: $primary-light;
    fill: $primary-light;
    text-decoration: none;
    font-weight: 400;
    margin-right: 0.5rem;
    height: 50px; //to vertically align in 50px header
    &::after {
      display: none; //hiding dropdown caret inserted by bootstrap
    }
  }
}

.header__title {
  margin-left: 1rem;
  display: block;
  line-height: 50px; //to vertically align in 50px header
}

.header__functions-section {
  color: $primary-light;
  padding: 0 1.1em;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 5em;
  border-bottom: 1px solid $border-color-01;
  background: $primary-light;
  .header__server-name {
    font-size: 1.5em;
    font-weight: 500;
    color: $text-02;
    padding: 0.4em 0 0 1em;
    height: 100%;
    background: transparent;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    .header__hostname {
      color: $primary-dark;
      font-size: 1.2rem;
      font-weight: 700;
      margin-bottom: 0;
    }
    .header__server-ip {
      font-size: 1rem;
    }
  }
  .logo__wrapper {
    padding-top: 0.5em;
  }

  .header__logo {
    vertical-align: middle;
    margin: 1em;
    float: left;
    height: $logoHeight; //required for <SVG> logos - can remove if using img
    max-height: $logoMaxHeight;
    max-width: $logoMaxWidth;
    width: auto;
  }

  .header__functions {
    position: absolute;
    top: 0;
    right: -480px;
    bottom: 0;
    z-index: 100;
    margin: 0.3em 0;
    background: $primary-light;
    @include fastTransition-all;
    &.active {
      right: 1em;
    }
    @media (min-width: 1025px) {
      right: 0;
    }
    span {
      display: block;
      color: $primary-dark;
      font-size: 1em;
    }
    a,
    p {
      display: block;
      float: left;
      text-decoration: none;
      color: $text-02;
      padding: 1.25em;
      height: 100%;
      font-size: 0.875em;
      font-weight: 400;
      line-height: 1;
      > span {
        display: block;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 0.5em;
      }
    }
  }

  .header__action {
    @include fastTransition-all;
    @include round-corners;
    height: 100%;
    background: $background-02;
    border: 1px solid $border-color-01;
    margin: 0 0.3em;
    opacity: 1;

    .icon svg {
      height: 1rem;
    }

    .status-icon {
      vertical-align: text-top;
    }

    &:hover {
      background: $background-01;
    }
  }

  .header__functions {
    .header__action--info {
      padding: 0.3em;
      min-width: 40px;
      text-align: center;
      float: left;
      span {
        padding: 0.7em 0 0.3em;
        font-size: 1em;
        font-weight: 400;
        color: $text-02;
      }

      .icon {
        @include fastTransition-all;
        svg {
          width: 1.25rem;
          height: auto;
        }
      }

      @media (min-width: 1025px) {
        display: none;
      }
    }

    &.active > .header__action--info > .icon {
      transform: rotate(-180deg);
    }

    .header__refresh {
      color: $text-02;
      line-height: 1.4;
      border-radius: 6px;
      span {
        @include fontCourierBold;
      }
    }
  }
  .header__action--refresh {
    padding-top: 1em;
    span {
      font-size: 0.875em;
      font-weight: 400;
      color: $text-02;
      display: block;
      margin-bottom: 0.2em;
    }
    .icon {
      display: block;
      margin-left: auto;
      margin-right: auto;

      svg {
        height: 1.5rem;
        fill: $primary-accent;
      }
    }
  }
}

// end header__functions-section
