SUBSYSTEM=="input", ENV{ID_PATH}=="platform-gpio-keys", SYMLINK+="platform_gpio_keys", TAG+="systemd"
SUBSYSTEM=="input", ENV{ID_PATH}=="platform-gpio-keys-polled", SYMLINK+="platform_gpio_keys_polled", TAG+="systemd"