[Unit]
Description=Phosphor GPIO %I monitor

[Service]
Restart=always
RestartSec=5
EnvironmentFile=/etc/default/obmc/gpio/%I
ExecStart=/usr/bin/phosphor-gpio-monitor --path=${DEVPATH} --key=${KEY} --polarity=${POLARITY} --target=${TARGET} ${EXTRA_ARGS}
