[Unit]
Description=Entity Manager
After=dbus.service

[Service]
ExecStartPre=/bin/mkdir -p /var/configuration
ExecStartPre=/bin/mkdir -p /tmp/overlays
ExecStart=/usr/bin/entity-manager
Restart=always
Type=simple

[Install]
WantedBy=basic.target
