//Fixed alerts
.alert-danger {
  background-color: $accent-04--02;
  border-color: $accent-04--01;
  border-radius: 0;
  color: $primary-dark;
  text-align: left;
}
.alert-warning {
  background-color: $accent-03--03;
  border-color: $accent-03--02;
  border-radius: 0;
  color: $primary-dark;
  text-align: left;
  .icon {
    vertical-align: bottom;
  }
}

.message-container {
  background-color: $background-02;
  padding: 1em 1.5em;
  display: inline-block;
  >*:last-child {
    margin-bottom: 0;
  }
}

.notification-banner {
  padding: 8px 10px;
  margin-bottom: 24px;
  border-style: solid;
  border-width: 1px;
  position: relative;
}

.notification-banner__text {
  font-size: 0.9em;
  margin-bottom: 0;
  line-height: 1.2;
}

.notification-banner--information {
  background-color: $background-02;
  border-color: $border-color-01;
}

.notification-banner--warning {
  background-color: $accent-03--03;
  border-color: $accent-03--02;
  .icon {
    position: absolute;
    left: 10px;
    top: 8px;
    bottom: 8px;
    width: 18px;
    height: 30px;
    margin: auto;
  }
  .notification-banner__text {
    padding-left: 24px;
  }
}
