// Overrides style for ngToast notifications
.ng-toast {
  margin-top: 9rem;
  .close {
    color: $text-01;
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .alert {
    border: none; //override inherited border styles
    border-radius: 0;
    border-left-width: 3px;
    border-left-style: solid;
    text-align: left;
    color: $text-01;
    padding-left: 1rem;
    width: 350px;
  }
  .alert-content-container {
    display: flex;
    flex-direction: row;
  }
  .alert-content__header {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    line-height:1.5;
  }
  .alert-content__body {
    margin:0;
    line-height: 1.2;
  }
  .alert-danger {
    background-color: $notification-error--light;
    border-left-color: $notification-error--dark;
  }
  .alert-success {
    background-color: $notification-success--light;
    border-left-color: $notification-success--dark;
  }
  .alert-warning {
    background-color: $notification-warn--light;
    border-left-color: $notification-warn--dark;
  }
  .alert-info {
    background-color: $notification-info--light;
    border-left-color: $notification-info--dark;
  }
  .status-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.8rem;
  }
}
