// toggle buttons for filtering
.toggle-filter {
  display: inline-block;

  .content-label {
    margin-bottom: .4em;
  }
  .filter-label {
    color: $text-02;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    margin-bottom: 3px;
  }
  margin-right: 2em;
  margin-bottom: 1em;
  .btn {
    float:left;
    width: 100px;
    &:not(:first-of-type) {
      border-left-width: 1px;
    }
  }
  .btn-primary {
    border: 2px solid $primary-accent;
  }
}
