[Unit]
Description=OpenBMC ipKVM daemon
ConditionPathIsMountPoint=/sys/kernel/config

[Service]
Restart=always
ExecStartPre=/usr/bin/create_usbhid.sh
ExecStart=/usr/bin/obmc-ikvm -v /dev/video0 -k /dev/hidg0 -p /dev/hidg1

[Install]
WantedBy=multi-user.target
