*.o
*.lo
*.la
*.sw*
Makefile
Makefile.in
configure
.deps
.libs
aclocal.m4
ar-lib
*-libtool
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
missing
stamp-h1
phosphor-dbus-monitor
generated.hpp
errors.hpp
test-driver
