ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing

extra-properties-gen.cpp
fru-gen.cpp
phosphor-read-eeprom

# Python build artifacts
*.swp
__pycache__
*.pyc
*.pyo
/tools/build
/tools/setup.py

# Test suite logs
*.log

# Code Coverage
*.gcda
*.gcno
*.trs
*-coverage*

# Compiler
*.o

# Libtool
*.la
*.lo
*.sw*
*.so
*.so.*

# Autotools
autom4te.cache/
.deps
.dirstamp
.libs
/aclocal.m4
/build-aux
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/m4
/libtool
Makefile
Makefile.in
/stamp-h1
