/build*
.idea/
.vscode
3rdparty/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
cmake-build-debug/
cmake_install.cmake
compile_commands.json
googletest-build/
googletest-src/
intel-dbus-interfaces-src/
intel-dbus-interfaces/
libzinteloemcmds.so*
phosphor-host-ipmid/
phosphor-ipmi-host-src/
prefix/
runSensorTests
ipmi-whitelist.hpp
