Package: openbmctool
Provides: openbmctool
Version: 1.18.1
License: Apache 2.0
Vendor: IBM
Architecture: all
Maintainer: IBM
Installed-Size: 1285
Section: System Environment/Base
Priority: extra
Homepage: http://ibm.com
Description: A tool based on ipmitool for interacting with OpenBMC via it's REST API
Depends: python3, python3-requests, python3-simplejson
