[Unit]
Description=Phosphor Button Handler
Wants=xyz.openbmc_project.Chassis.Buttons.service
After=xyz.openbmc_project.Chassis.Buttons.service
Wants=obmc-mapper.target
After=obmc-mapper.target

[Service]
Restart=always
ExecStart=/usr/bin/env button-handler
SyslogIdentifier=button-handler

[Install]
WantedBy=multi-user.target

