[Unit]
Description=Post code manager

[Service]
ExecStart=/usr/bin/env post-code-manager
SyslogIdentifier=post-code-manager
Type=dbus
BusName=xyz.openbmc_project.State.Boot.PostCode

[Install]
WantedBy=multi-user.target
