.badge-pill {
  // Need to explicitly set border-radius
  // for pill variant because global $enable-rounded
  // Bootstrap setting removes rounded pill style
  border-radius: 10rem;
  fill: currentColor;
  font-weight: 400;
  line-height: 1.5;
  display: inline-flex;
  .close {
    font-size: 1em;
    margin-left: $spacer/2;
    font-weight: inherit;
    color: inherit;
  }
}

.badge-primary {
  background-color: $info-light;
  color: theme-color("info");
}