.table-pagination-select {
  display: flex;
  flex-direction: row-reverse;
  select {
    width: fit-content;
  }
  label {
    margin-left: $spacer;
    line-height: $spacer * 2;
  }
}

.b-pagination {
  .page-item.active button {
    color: theme-color("dark");
    background-color: $white;
    border-color: $border-color;
    box-shadow: inset 0px -3px theme-color("primary");
  }
}