[Unit]
Description=Adc Sensor
StopWhenUnneeded=false
Before=xyz.openbmc_project.cpusensor.service
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/adcsensor

[Install]
WantedBy=multi-user.target
