[Unit]
Description=NVMe Sensor
StopWhenUnneeded=false
After=xyz.openbmc_project.FruDevice.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/nvmesensor

[Install]
WantedBy=multi-user.target