build
.vscode
toolchain.cmake
Boost-prefix/
CMakeCache.txt
CMakeFiles/
Makefile
boost-src/
cmake_install.cmake
compile_commands.json
nlohmann-json-src/
nlohmann-json/
sdbusplus-project/
sdbusplus-src/
adcsensor
cpusensor
exitairtempsensor
fansensor
hwmontempsensor
intrusionsensor
ipmbsensor
mcutempsensor
psusensor
.idea/
cmake-build-debug/
sensors.cbp
