# Test suite logs
*.log

# Code Coverage
*.gcda
*.gcno
*.trs
*-coverage*

# CC / CXX Compiler
*.ii
*.i
*.o
*.s

# Libtool
*.la
*.lo

# Autotools
.deps
.dirstamp
.libs
/aclocal.m4
/aminclude_static.am
/autom4te.cache
/build-aux
/confdefs.h
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/m4
/libtool
Makefile
Makefile.in
/stamp-h1

*.sw*
phosphor-hwmon-readd
ar-lib
arm-openbmc-linux-gnueabi-libtool
compile
depcomp
install-sh
ltmain.sh
missing
test-driver
*_unittest
*_unittest.trs
libtool
*~
