*.log
*.trs
/pathgentest
/pathgentest.hpp
/propertygentest
/propertygentest.hpp
/propertywatchtest
/propertywatchgentest.hpp
/propertywatchgentest
/callbackgentest.hpp
/callbackgentest
/callbackgroupgentest.hpp
/callbackgroupgentest
/conditiongentest.hpp
/conditiongentest
/callbacktest
/interfaceaddtest
/interfaceaddtest.hpp
