[Unit]
Description=Fru Device
After=xyz.openbmc_project.CloseMuxes.service dbus.service

[Service]
ExecStart=/usr/bin/fru-device
Type=simple

[Install]
WantedBy=multi-user.target
